.dialogContainer {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(33, 36, 37, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        width: clamp(294px, 369px, 100%);
        margin: auto auto;
        border-radius: 3.209px;
        height: clamp(274px, 342px, 100%);
        padding-left: 10px;
        padding-right: 10px;

        .headerContainer {
            width: 100%;
            height: 40px;
            background-color: var(--grey2);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .header {
                width: clamp(264px, 325px, 90%);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h3 {
                    color: var(--grey0);
                    font-weight: 700;
                    font-size: 11.23px;
                    text-align: center;
                }

                button {
                    background-color: transparent;
                    border: none;
                    color: var(--grey1);
                    font-size: 18px;
                    font-weight: 600;
                    width: 8.824px;
                    height: 20.856px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .formContainer {
            background-color: var(--grey3);
            width: 100%;
            margin: 0 auto;
            height: 230px;
            padding-top: 15px;

            form {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: clamp(264px, 325px, 90%);

                div {
                    width: clamp(264px, 325px, 100%);
                    padding: 8px 0px 8px 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin: 0 auto;

                    label {
                        color: var(--grey0);
                        font-size: 12px;
                        font-weight: 400;
                    }

                    input {
                        width: clamp(245px, 305px, 95%);
                        height: 38.5px;
                        border-radius: 3px;
                        border: 0.98px solid transparent;
                        padding-left: 10px;
                        background-color: var(--grey2);
                        font-size: 13px;
                        font-weight: 400;
                        color: var(--grey0);

                        &:focus {
                            border: 1.22px solid rgba(248, 249, 250, 1);
                            color: var(--grey0);
                            background-color: transparent;
                        }
                    }

                    span {
                        color: var(--color-primary);
                        font-size: 10px;
                        font-weight: 400;
                    }

                    select {
                        width: clamp(254px, 320px, 100%);
                        height: 38.5px;
                        border-radius: 3px;
                        border: 0.98px solid transparent;
                        padding-left: 10px;
                        background-color: var(--grey2);
                        font-size: 13px;
                        font-weight: 400;
                        color: var(--grey0);

                        &:focus {
                            border: 1.22px solid rgba(248, 249, 250, 1);
                            background-color: transparent;
                            color: var(--grey0);
                        }

                        option {
                            width: clamp(254px, 315px, 100%);
                            height: 38.5px;
                            border-radius: 3px;
                            border: 0.98px solid transparent;
                            background-color: var(--grey2);
                            font-size: 13px;
                            font-weight: 400;
                            color: var(--grey0);
                        }
                    }
                }

                button {
                    width: clamp(260px, 320px, 100%);
                    height: 38.5px;
                    border-radius: 4px;
                    border: 1px;
                    background-color: var(--color-primary);
                    color: var(--grey0);
                    font-size: 13px;
                    font-weight: 500;
                    margin-top: 15px;

                    &:hover {
                        background-color: var(--color-primary-focus);
                    }
                }
            }
        }
    }
}